body { 
    background-color: rgb(134, 123, 102);
    text-align: center;
}

h1 {
    font-size: 30px;
    text-align:center;
}

p {
    text-align: center;
    color:rgb(70, 6, 66);
    font-size: 20px;
}

.p2 {
text-align: center;
color: #000000;
font-size: 20px;
}
     
     
